<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" [
        <!ENTITY classes SYSTEM "Classes.xml">
        <!ENTITY parameters SYSTEM "Parameters.xml">
        <!ENTITY excludedTests SYSTEM "ExcludedTests.xml">
        <!ENTITY debugTests SYSTEM "DebugTests.xml">
        <!ENTITY loginTests SYSTEM "testGroups/LoginTests.xml">
        <!ENTITY inventoryTests SYSTEM "testGroups/InventoryTests.xml">
        <!ENTITY productTests SYSTEM "testGroups/ProductTests.xml">
        <!ENTITY shoppingCartTests SYSTEM "testGroups/ShoppingCartTests.xml">
        <!ENTITY checkoutInformationTests SYSTEM "testGroups/CheckoutInformationTests.xml">
        <!ENTITY checkoutOverviewTests SYSTEM "testGroups/CheckoutOverviewTests.xml">
        ]>

<!--NOTE: There's a known TestNG bug. Add this param to the JVM [-Dtestng.dtd.http=true]-->
<!--https://github.com/cbeust/testng/issues/2022-->

<suite name="MainSuite">
    &parameters;
    <test name="Login Tests">
        <groups>
            <run>
                &excludedTests;
                &debugTests;
<!--                &debugTests;-->
<!--                &loginTests;-->
<!--                &inventoryTests;-->
<!--                &productTests;-->
<!--                &shoppingCartTests;-->
<!--                &checkoutInformationTests;-->
<!--                &checkoutOverviewTests;-->
            </run>
        </groups>
        &classes;
    </test>
</suite>